**/node_modules
/node_modules
*.md
tsconfig.json
next-env.d.ts
next.config.js
yarn.lock
.editorconfug
.eslintrc.json
**/*.eslint*
.next
**/plugins
**/static
**/sanity.json
**/tsconfig.json
**/yarn.lock
**/config
/public
*.env.*
**/.env*
*.env